@import "tailwindcss";
@source "./src/**/*.rs";
@plugin "daisyui" {
    themes: cupcake --default;
}
@plugin "daisyui/theme" {
    name: "cupcake";
    default: true;
    --radius-selector: 0rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
}